@page
@model KwendaMoney.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
}
<div class="alert alert-success mt-4">
    <h4>Cadastro realizado com sucesso!</h4>
    <p>Verifique sua caixa de entrada e clique no link para confirmar seu e-mail.</p>
</div>